* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 1500px;
  width: 100%;
  overflow-y: scroll;
}
#main {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#page {
  position: relative;
  justify-content: center;
  z-index: 200;
  height: 100%;
  width: 100vw;
  background-color: #ba0f0f00;
}
#page0 {
  position: absolute;
  top: 0;
  z-index: 210;
  /* height: 200vh; */
  width: 100%;
  /* background-color: rgba(199, 232, 31, 0); */
}
#page1 {
  position: absolute;
  top: 0;
  z-index: 70;
  height: 100%;
  width: 100vw;
  background: url("./Images/bg2.jpg") repeat;
  animation: animateBg 50s linear;
}
.star{
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
  0 0 0 8px rgba(255, 255, 255, 0.1), 
  0 0 20px rgba(255, 255, 255, 1);
  animation: animateSpan 3s linear infinite;
}
.star::before{
  content: '';
  position: absolute;
  top: 0%;
  width: 300px;
  border-radius: 50%;
  height: 1px;
  background: linear-gradient(90deg,#fff, transparent);
}
.star:nth-child(1){
  top: 0;
  left: 400px;
  animation-delay: 0;
  animation-duration: 4s;
}
.star:nth-child(2){
  top: 0;
  left: 550px;
  animation-delay: 1.2s;
  animation-duration: 5s;
}
.star:nth-child(3){
  top: 0;
  left: 1900px;
  animation-delay: 0.1s;
  animation-duration: 4s;
}
.star:nth-child(4){
  top: 0;
  right: 900px;
  animation-delay: 2.4s;
  animation-duration: 2s;
}
.star:nth-child(5){
  top: 0;
  left: 1190px;
  animation-delay: 0.2s;
  animation-duration: 5s;
}
.star:nth-child(6){
  top: 0;
  left: 1400px;
  animation-delay: 3.7s;
  animation-duration: 4s;
}
.star:nth-child(7){
  top: 0;
  left: 1600px;
  animation-delay: 1.9s;
  animation-duration: 3s;
}
.star:nth-child(8){
  top: 400px;
  left: 2200px;
  animation-delay: 4.1s;
  animation-duration: 3s;
}
.star:nth-child(9){
  top: 300px;
  left: 1900px;
  animation-delay: 2.2s;
  animation-duration: 4s;
}
.star:nth-child(10){
  top: 500px;
  left: 2500px;
  animation-delay: 1.5s;
  animation-duration: 5s;
}

@keyframes animateSpan {
  0%{
    transform: rotate(325deg) translateX(0);
  }
  100%{
    transform: rotate(325deg) translateX(-3000px);
  }
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
canvas {
  position: fixed;
  left: 70%;
  z-index: 40;
  max-width: 100vw;
  max-height: 100vh;
}

.about-me {
  position: relative;
  z-index: 0;
  /* margin-top: 10px; */
  max-width: 450px;
  margin-right: 80px;
  left: 8%;
  top: 10px;
  padding: 20px;
  opacity: 0;
  color: rgb(203 233 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-spacing: 6px;
  background-color: #ffffff16;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.accordian {
  /* position: relative; */
  max-width: 100%;
  /* height: 320px; */
  overflow: hidden;
  /* z-index: 115; */
}

.accordian li {
  position: relative;
  width: 25%;
  float: left;
  z-index: -100;
  /* z-index: 50; */
  border-left: 1px solid #888;

  /* box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.5); */
  /* -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5); */

  /*Transitions to give animation effect*/
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /*If you hover on the images now you should be able to 
	see the basic accordian*/
  background: rgba(246, 246, 246, 0.448);
}

.accordian1 {
  /* background: rgba(183, 183, 183, 0.448); */
  position: absolute;
  display: none;
  opacity: 1;
  /* margin-top: 30px; */
  left: 5%;
  z-index: 50;
  padding-top: 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
  width: 10%;
}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
  width: 70%;
}

.accordian li img {
  display: block;
  max-height: 80vw;
  /* width: 40vw; */
  position: relative;
  z-index: -100;
  /* height: 500px; */
}

/*Image title styles*/
.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 672px;
}
.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}
/* .abc{
  position: absolute;
  z-index: 222;
} */

button {
  /* position: absolute; */
  /* z-index: 20; */
  width: 200px;
  height: 75px;
  border: none;
  margin-top: 12px;
  border-radius: 10%;
  border-radius: 100px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  border: 2px solid rgba(255, 255, 255, 0.556);
  background-color: #ffffff16;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

button:hover {
  cursor: pointer;
  width: 240px;
  height: 85px;
  background-color: #8a898991;
}

.pb:hover + .accordian1 {
  opacity: 1;
  /* position: relative; */
  display: block;
  z-index: 50;
  cursor: pointer;
}
.accordian1:hover {
  display: block;
  opacity: 1;
  z-index: 50;
  /* position: relative; */
}

.about-button:hover + .about-me {
  opacity: 1;
  z-index: 30;
}
.pb {
  /* position: fixed; */
  z-index: 29;
  /* top: 190px; */
  margin-top: 300px;
  margin-left: 8%;
  border-radius: 10%;
  border-radius: 100px;
}

.about button {
  position: relative;
  top: 0;
  margin-top: 200px;
  z-index: 25;
  margin-left: 8%;
}

.projects {
  /* max-width: 1100px; */
  position: fixed;
  /* top: 0; */
  /* margin-top: 750px; */
  margin-left: 12%;
  z-index: 21;
  height: 40%;
}

.skills button {
  position: absolute;
  top: 550px;
  right: 0;
  /* margin-left: 80%; */
  margin-right:6%;
  z-index: 21;
  /* margin-top: 55vh; */
}

.contact button {
  position: absolute;
  right: 0;
  top: 1250px;
  /* margin-left: 80%; */
  margin-right: 6%;
  z-index: 21;
}

.hidden {
  display: none;
}

.skill-set1 {
  display: flex;
  margin: 2px;
}
.skill-set2 {
  display: flex;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.skills-box {
  display: block;
  /* width: 70%; */
  opacity: 0;
  position: absolute;
  max-width: min-content;
  min-width: 30vw;
  padding: 1%;
  top: 240px;
  margin-left: 50px;
  right: 20px;
  color: white;
  background-color: #ffffff16;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 2px solid #ffffff16;
  border-radius: 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.skill{
  margin-right: auto;
  margin-left: auto;
  padding: 1px;
  text-align: center;
}
.skills{
  margin-right: 8px;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skill img{
  width: 60px;
}
.skill-button:hover + .skills-box{
  opacity: 1;
  top: 220px;
  z-index: 25;
}
.tech-skills{
  word-wrap: break-word;
}
.skills-box{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact h3{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-me{
  display: flex;
  /* width: 70%; */
  opacity: 0;
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: -2;
  top: 1110px;
  /* max-width: min-content; */
  width: fit-content;
  padding: 1%;
  padding-right: 40px;
  right: 3%;
  color: white;
  background-color: #f6f4f428;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 2px solid gray;
  border-radius: 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.contact-button:hover + .contact-me{
  opacity: 1;
  top: 1100px;
  visibility: visible;
}

.contact-me:hover{
  opacity: 1;
  top: 1100px;
  visibility: visible;
}
.contact-me img{
  width: 80px;
}
.detail{
  margin: 1%;
}